<a href="https://colab.research.google.com/github/jyotidabass/Embrace-SQL-in-Google-Colab-step-by-step-process/blob/main/Embrace_SQL_in_Google%C2%A0Colab_step_by_step_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQLite is a serverless, self-contained, and zero-configuration database engine that requires no additional installation steps. Python comes with built-in support for SQLite.
Let's begin by importing the SQLite3 module and establishing a connection to the database in your Google Colab notebook. We'll use an in-memory database for this example, which is denoted by :memory:.
SQLite in-memory databases are stored in memory rather than on a disc.

In [1]:
# Import library
import sqlite3

# Connect to an SQLite database; use ':memory:' for an in-memory database
conn = sqlite3.connect(':memory:')

We used the SQLite database library to create a table called "Students" with columns for "name," "age", and "weight".

In [2]:
# Execute a SQL command to create a new table
c = conn.cursor()
c.execute('''
          CREATE TABLE Students
          (name text, age real, weight real)
          ''')

We can insert data into our students' table using standard SQL INSERT syntax.

In [3]:
# Execute a SQL command to insert data into the table
c.execute("INSERT INTO Students VALUES ('John',28,70)")

# Commit the transaction to save changes to the database
conn.commit()

Now that we have a database, we can query it using SQL. We'll select all records from the students' table and then fetch all results from the execution to print the output.

In [4]:
# Execute a SQL SELECT statement to query the database
c.execute("SELECT * FROM Students")

# Fetch all rows from the result of the query
print(c.fetchall())

[('John', 28.0, 70.0)]

# Method 2: Using Magic Commands

In Method 2, you'll use the "SQL magic command" in Google Colab to write SQL queries within the notebook. This method involves installing the ipython-sql extension, loading the SQL extension, and creating a SQLite database. Once you set up the environment, you can write SQL queries using the %sql or %%sql magic commands.
Here's a step-by-step guide with code snippets to help you get started:
Install the ipython-sql extension by running the following command in a Colab cell:

In [5]:
# Install ipython-sql
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.10.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.31)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (71.0.4)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 21.9 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.1

Load the SQL extension and create a SQLite database:

In [6]:
# Load the SQL extension
%load_ext sql

# Create a SQLite database
%sql sqlite://

Now, you can write SQL queries using the %sql or %%sql magic commands. The %sql command is for single-line SQL queries, while the %%sql command is for multi-line SQL queries that run the entire cell as SQL.
Here's an example of executing SQL commands to create a table, insert data, and run a query using the %%sql command:

In [7]:
# Execute SQL commands to create a table, insert data, and run a query
%%sql
CREATE TABLE test_table(name, age);
INSERT INTO test_table VALUES('Alice', 24);
SELECT * FROM test_table;

 * sqlite://
Done.
1 rows affected.
Done.

[('Alice', 24)]

This method is a convenient way to work with SQL in Google Colab without having to manage a separate database installation. You can use this approach to write SQL queries and analyze data in your data analysis projects within Google Colab.